@import url('https://fonts.googleapis.com/css?family=Montserrat|Quicksand');

*{
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

body{
    background:#fff;
}


.form-modal{
    position:relative;
    width:450px;
    height:auto;
    margin-top:4em;
    left:50%;
    transform:translateX(-50%);
    background:#fff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow:0 3px 20px 0px rgba(0, 0, 0, 0.1)
}

.form-modal button{
    cursor: pointer;
    position: relative;
    text-transform: capitalize;
    font-size:1em;
    z-index: 2;
    outline: none;
    background:#fff;
    transition:0.2s;
}

.form-modal .btn{
    border-radius: 20px;
    border:none;
    font-weight: bold;
    font-size:1.2em;
    padding:0.8em 1em 0.8em 1em!important;
    transition:0.5s;
    border:1px solid #ebebeb;
    margin-bottom:0.5em;
    margin-top:0.5em;
}

.form-modal .login{
    background:#A51C30;
    color:#fff;
}

.form-modal .login:hover {
    background:#222;
    color:white;
}

.form-toggle{
    position: relative;
    width:100%;
    height:auto;
}

.form-toggle button{
    width:50%;
    float:left;
    padding:1em;
    margin-bottom:1.5em;
    border:none;
    transition: 0.2s;
    font-size:1.1em;
    font-weight: bold;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

#campus-service-toggle{
    background:#57b846;
    color:#ffff;
}

.form-modal form{
    position: relative;
    width:90%;
    height:auto;
    left:50%;
    transform:translateX(-50%);  
}

#campus-services , #hostel-services{
    position:relative;
    width:100%;
    height:auto;
    padding-bottom:1em;
}

#hostel-services{
    display: none;
}


#campus-services button , #hostel-services button{
    width:100%;
    margin-top:0.5em;
    padding:0.6em;
}

.form-modal input{
    position: relative;
    width:100%;
    font-size:1em;
    padding:1.2em 1.7em 1.2em 1.7em;
    margin-top:0.6em;
    margin-bottom:0.6em;
    border-radius: 20px;
    border:none;
    background:#ebebeb;
    outline:none;
    font-weight: bold;
    transition:0.4s;
}

.form-modal input:focus , .form-modal input:active{
    transform:scaleX(1.02);
}

.form-modal input::-webkit-input-placeholder{
    color:#898c8f;
}


.form-modal p{
    font-size:16px;
    font-weight: bold;
}

.form-modal p a{
    color:#A51C30;
    text-decoration: none;
    transition:0.2s;
}

.form-modal p a:hover{
    color:#222;
}


.form-modal i {
    position: absolute;
    left:10%;
    top:50%;
    transform:translateX(-10%) translateY(-50%); 
}

.-box-sd-effect:hover{
    box-shadow: 0 4px 8px hsla(210,2%,84%,.2);
}

header .top {
          float: right;
        }
        
        #homestyleimg{
        width:78%; 
        margin-top: 1%;
        }
        
        @media (min-width: 992px) and (max-width: 1199px) {
        }
        
        @media (min-width: 768px) and (max-width: 991px) {
        #homestyleimg{
        width:70%; 
        margin-top: 1%;
        }
          
        }

        @media (max-width: 767px) {
        #homestyleimg{
        width:40%; 
        margin-top: 1%;
        margin-left: 25%;
        }
          
}

@media only screen and (max-width:500px){
    .form-modal{
        width:100%;
    }
}